---
import { getComponentById } from '../../lib/mongoose';

export async function getStaticPaths() {
  const { Component } = await import('../../lib/mongoose');
  const components = await Component.find({}).lean();
  return components.map(component => ({
    // @ts-ignore
    params: { id: component._id.toString() },
  }));
}

const { pathname } = new URL(Astro.request.url);
const id = pathname.split('/').pop();
console.log('id:', id);  

if (!id) {
  throw new Error('No id found');
}

const componentData = await getComponentById(id);
console.log('componentData:', componentData);

if (!componentData) {
  throw new Error(`Component with id ${id} not found`);
}
---

<html>
  <head>
    <!-- @ts-ignore -->
    <title>{componentData.name}</title>
  </head>
  <body>
    <!-- @ts-ignore -->
    <h1>{componentData.name}</h1>
    <!-- @ts-ignore -->
    <div dangerouslySetInnerHTML={{ __html: componentData.content }}></div>
  </body>
</html>
